# Xcode
#
.DS_Store
*.xcuserstate

# CocoaPods
#
Pods/
Podfile.lock
WeChatPlugin.xcworkspace/xcuserdata/boohee.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
WeChatPlugin.xcodeproj/xcuserdata/boohee.xcuserdatad/xcschemes/xcschememanagement.plist
